#/* <DTS2012030804064 sunwenyong 20120308 begin */
#/* < DTS2011052606009 jiaxianghong 20110527 begin */
#/* <DTS2011032104626 shenjinming 20110321 begin */

#
# I2C devices detect
#

config HUAWEI_HW_DEV_DCT
	bool "HUAWEI DEVICE DETECT"
	depends on HUAWEI_KERNEL = y
	default n
	help
		Say yes if you want i2c device detect driver.
		This is for i2c connected version. If unsure, say N here.

#/* <DTS2011032104626 shenjinming 20110321 end> */
#/* < DTS2011052606009 jiaxianghong 20110527 end */
#/* DTS2012030804064 sunwenyong 20120308 end> */
